name: 'Verify'

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

# https://stackoverflow.com/a/72408109/16358266
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-verify:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4

    - name: "Setup Build Environment"
      uses: ./.github/actions/setup-environment

    - name: 'Setup Gradle'
      uses: gradle/actions/setup-gradle@v4
      with:
        develocity-access-key: ${{ secrets.DEVELOCITY_GRADLE_ORG_ACCESS_KEY }}

    - name: "Verify"
      env:
        DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_GRADLE_ORG_ACCESS_KEY }}
      run: "./gradlew build -s"

    - name: "Store reports"
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: check-reports
        path: |
          **/build/reports/
          **/build/test-results/
