name: 'Verify'

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

# https://stackoverflow.com/a/72408109/16358266
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-verify:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: "Setup Build Environment"
      uses: ./.github/actions/setup-environment

    - name: 'Setup Gradle'
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      with:
        develocity-access-key: ${{ secrets.DEVELOCITY_GRADLE_ORG_ACCESS_KEY }}

    - name: "Verify"
      env:
        DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_GRADLE_ORG_ACCESS_KEY }}
      run: "./gradlew build -s"

    - name: "Store reports"
      if: failure()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: check-reports
        path: |
          **/build/reports/
          **/build/test-results/
